*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}



.black{
   position: absolute;
   bottom: 0px;
   background-color: black;
   height: 50%;
   width: 100%;
}

img{
   position: absolute;
   top: 83px;
   left: 175px;
}

.copyBook{
   position: absolute;
   top: 22px;
   left: 277px;
   width: 900px;
   height: 575px;
   border: 2px solid #ababad;
   border-radius: 20px;
   background-color: black;
}

.list{
   width: 417px;
   height: 523px;
   background-color: #e7e7e9;
   margin-top: 25px;
   margin-left: 30px;
   border-radius: 20px 0 0 20px;
   float: left;
}

.quest{
   margin-top: 30px;
   margin-left: 22px;
   color: red;
   font-size: 17px;
}

.list2{
   width: 417px;
   height: 523px;
   background-color: #e7e7e9;
   margin-top: 25px;
   margin-left: 6px;
   border-radius: 0 20px 20px 0;
   float: left;
   display: flex;
   align-items: center;
   flex-direction: column;
   flex-wrap: wrap;
}

.newQuest{
   margin-top: 30px;
   color: red;
   font-size: 17px;
}

input[type="text"]{
   margin-top: 20px;
   background-color: #e7e7e9;
   outline: none;
   border: none;
   border-bottom: 2px solid black;
}

.addCkeckBox{
   margin-top: 20px;
   width: 84px;
   height: 42px;
   background-color: #2c3339;
   outline: none;
   border: none;
   border-radius: 3px;
   color: #e7e7e9;
   cursor: pointer;
}

.form1{
   margin-left: 22px;    
}


input[type="checkbox"]{
   margin-top: 30px;
}

.form2{
   display: flex;
   align-items: center;
   flex-direction: column;
}

.alert1{
   display: none;
   width: 670px;
   height: 80px;
   position: absolute;
   background-color: #e3c3c6;
   border-radius: 3px;
   top: 140px;
   left: 390px;
}

.alert1_text1{
   color: #824439;
   font-weight: bold;
   margin-top: 25px;
   margin-left: 25px;
}

.alert1_text2{
   color: #824439;
   margin-left: 25px;
}


.alert1_button{ 
   position: absolute;
   top: 20px;
   right: 20px;
   width: 12px;
   height: 12px;
   border: none;
   outline: none;
   background-color: #e3c3c6;
   cursor: pointer;
}


.alert2{
   display: none;
   width: 670px;
   height: 80px;
   position: absolute;
   background-color: #e3c3c6;
   border-radius: 3px;
   top: 140px;
   left: 390px;
}

.alert2_button{ 
   position: absolute;
   top: 20px;
   right: 20px;
   width: 12px;
   height: 12px;
   border: none;
   outline: none;
   background-color: #e3c3c6;
   cursor: pointer;
}