*{
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box;
}
body{
 background-color:darkslategray;
 color: burlywood;
 margin: 0 auto;
}
#scroll{
text-align: center;
   margin-top: 500px;
   font-size: 30px;

}
#slide{
   width: 300px;
float: left;
   margin-top: 200px;
   margin-left: 50px;
   font-size: 40px;
   position: relative;
  
}
.redLine {
   position: relative;
   margin-top: 250px;
   margin-left: 50px;
   width: 290px;
   height: 7px;
   background-color: red;
}
#img{
   width: 600px;
   float: right;
   position: relative;
   margin-top: 280px;
   margin-right: 50px;

}
#scroll-up{
   width: 250px;
   margin-top: 1000px; 
   margin-bottom: 50px;
   font-size: 60px;
}
#scroll-up:hover{
   cursor: pointer;
   color: rgb(220, 100, 14);
   text-shadow: 0px 0px 8px rgb(220, 220, 220);
}